@font-face {
    font-family: "Gilroy-Light";
    src: url(fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url(fonts/Gilroy-ExtraBold.otf);
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy-Light", sans-serif;
}

h1 {
    margin: 0;
}

ol {
    margin: 4rem;
    padding: 0;
}

li {
    font-size: 1.25rem;
    margin: 3rem 0;
    padding: 0.5rem 0;
    position: relative;
    counter-increment: menucounter;
}

li:before {
    position: absolute;
    color: rgb (122, 122, 122);
}

li::marker {
    font-size: 0;
}

a {
    text-decoration: none;
    color: rgb(192, 192, 192);
    content: "0" counter(menucounter);
    top: -20px;
}

.page-wrapper {
    display: flex;
    height: 100vh;
}

.col-left {
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}

.col-center {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.col-right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.menu {
    flex: 3;
    padding: 2rem 4rem;
}

.footer {
    flex: 2;
}