@font-face {
    font-family: "Gilroy-Light";
    src: url(fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url(fonts/Gilroy-ExtraBold.otf);
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy-Light", sans-serif;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.75rem;
}

h2 {
    font-family: "Gilroy-ExtraBoldtra", sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    margin: 0;
}

h3 {

}

ol {
    margin: 4rem;
    padding: 0;
}

li {
    font-size: 1.25rem;
    margin: 3rem 0;
    padding: 0.5rem 0;
    position: relative;
    counter-increment: menucounter;
}

li:before {
    position: absolute;
    color: rgb(122, 122, 122);
    content: "0" counter(menucounter);
    top: -20px;
}

li::marker {
    font-size: 0;
}

a {
    text-decoration: none;
    color: rgb(192, 192, 192);
}

.page-wrapper {
    display: flex;
    height: 100vh;
}

.col-left {
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}

.center {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem 6rem;
}

.col-center {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.col-right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.menu {
    flex: 3;
    padding: 2rem 4rem;
    overflow: hidden;
}

.footer {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.top {
    font-size: 1.5rem;
    flex: 1;
    background-color: #e2743e;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.next {
    cursor: pointer;
}

.bottom {
    flex: 4;
    background-image: url(img/next_img.jpg);
    background-size: cover;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bottomimg {
    cursor: pointer;
}

.detach::before {
    color: white;
}

.detach::after {
    width: 200%;
    position: absolute;
    height: 1px;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom: 1px solid white;
}

.spanh2 {
    color: white;
    text-shadow: -1px -1px 0, 1px -1px 0 #e39074, -1px 1px 0 #e39074, 1px 1px 0 #e39074;
}

.spanh3 {
    font-family: "Gilrou-ExtraBold", sans-serif;
}

.hero {
    flex: 3;
    background-image: url(img/hero.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 6rem;
}

.container {
    width: 80%;
}

.containerh2 {
    color: white;
    font-family: "Gilrou-ExtraBold", sans-serif;
    font-size: 3rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}